:root {
    --color-0: #193441;
    --color-1: #3E606F;
}
html {
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;
}
body {
    margin: 0;
}

.nav-container {
    background-color: var(--color-0);
    height: 64px;
}
nav {
    display: flex;
    align-items: stretch;
    width: 50em;
    height: 100%;
    margin: auto;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1em;
}
nav > * {
    display: flex;
    align-items: center;
    padding: 0 16px;
}
.filler {
    flex-grow: 1;
}
nav input[type="file"] {
    display: none;
}
nav > .button {
    cursor: pointer;
}
nav > .button:hover {
    background-color: var(--color-1);
}

main {
    width: 60em;
    margin: 0 auto;
}
.no-file {
    margin: 0 auto;
    padding-top: 3em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.canvas-container {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 1em auto;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-0);
    transition: background-color .2s;
    opacity: 0.7;
}
.selected {
    opacity: 0;
}
.page-info {
    height: 30px;
    width: 10%;
    margin: 0 auto;
    text-align: right;
    padding-right: 1em;
}
