:root {
    --main-bg-color: #000912;
    --light-bg-color: #00213F;
    --hover-light-bg-color: #19446C;
}
html {
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;
}
body {
    margin: 0;
}

.nav-container {
    background-color: var(--light-bg-color);
    height: 64px;
}
nav {
    display: flex;
    align-items: stretch;
    width: 50em;
    height: 100%;
    margin: auto;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1em;
}
nav > * {
    display: flex;
    align-items: center;
    padding: 0 16px;
}
.filler {
    flex-grow: 1;
}
nav input[type="file"] {
    display: none;
}
nav > .button {
    cursor: pointer;
}
nav > .button:hover {
    background-color: var(--hover-light-bg-color);
}

main {
    width: 50em;
    margin: auto;
}

#pdf-form {
    display: none;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    transition: background-color .2s;
    opacity: 0.7;
}
.selected {
    opacity: 0;
}
.canvas-container {
    position: relative;
    width: 800px;
    height: 600px;
}
.page-info {
    height: 30px;
}
